<table summary="Page form fields">
  <tr>
    <th><%= f.label(:worker, "E-mail") %></th>
   <td><%= f.text_field(:email) %></td>
  </tr>
  <tr>
    <th><%= f.label(:worker, "Facebook") %></th>
    <td><%= f.text_field(:facebook) %></td>
  </tr>
  <tr>
    <th><%= f.label(:worker, "Google") %></th>
    <td><%= f.text_field(:google) %></td>
  </tr>
  <tr>
    <th><%= f.label(:worker, "Twitter") %></th>
    <td><%= f.text_field(:twitter) %></td>
  </tr>
  <tr>
    <th><%= f.label(:worker, "Vine") %></th>
    <td><%= f.text_field(:vine) %></td>
  </tr>
</table>
