<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>

<div class="woker new">
  <h2>Add new worker</h2>
  <%= flash[:notice] %>
  </br>

  <%= form_for(:worker, :url => {:action => 'create'}) do |f| %>

    <%= render(:partial => "form", :locals => {:f => f}) %>

    <div class="form-buttons">
      <%= submit_tag("Add new worker") %>
    </div>

  <% end %>
</div>